@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.productInfo__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.productInfo__container-navbar {
    width: 100%;
}
.productInfo__container-body {
    display: flex;
    width: 100%;
    justify-content: center ;
    gap: 10px;
    margin-top: 100px;
    align-items: center;
    /* align-items: flex-start; */
}
.productInfo__container-body_left {
    display: flex;
    /* flex-direction: column; */
    width: 50%;
    max-width: 600px;
    justify-content: center;
    overflow: hidden;
}
.productInfo__container-body_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 700px;

}
.productInfo__section1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}
.productInfo__section1 > h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 45px;
    font-weight: 800;
    line-height: 44.46px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 58, 231, 1);
}
.productInfo__section1 > p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
}
.productInfo__section2 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;
}
.productInfo__section2 > p {
    display: flex;
    align-items: center;
    gap: 5px;
    font-family: "Noto sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
}
.productInfo__section3 {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    width: 100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  min-width: 60px;
  text-transform: uppercase;
  text-align: center;
}
.productInfo__section4 {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.productInfo__section4 > p {
    font-family: "Noto sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
}
.productInfo__section4-size {
    display: flex;
    text-transform: uppercase;
    align-items: center;
}
.productInfo__section4-size > p {
    /* padding: 10px; */
    border: 1px solid black;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    /* margin-inline: auto; */
    text-align: center;
}
.productInfo__section4-cart {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}
.productInfo__section4-cart_add {
    display: flex;
    border: 1px solid black;
    width: 20%;
    cursor: pointer;
    padding: 7px 04px ;
    justify-content: space-between;
}
.productInfo__section4-cart > button {
    width: 70%;
    border: none;
    text-transform: uppercase;
    font-family: "Noto sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(255, 250, 250, 1);
    background: rgba(0, 58, 231, 1);
    border-radius: 10px;
}
.productInfo__container-footer {
    width: 100%;
    margin-top: 70px;
}

@media screen and (max-width: 768px) {
    .productInfo__container-body {
        flex-direction: column;
        align-items: center;
    }
    .productInfo__container-body_left,
    .productInfo__container-body_right {
        width: 90%;
    }
    .productInfo__section1 > h1 {
        font-size: 35px;
    }
    .productInfo__section1 > p,
    .productInfo__section2 > p,
    .productInfo__section4 > p {
        font-size: 18px;
    }
    
}