@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.productInfo__container {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.productInfo__container-navbar {
    /* display: flex; */
    width: 100%;
}
.productInfo__container-product_details {
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    /* gap: 10px; */
    margin-inline: auto;
    flex-direction: row;
    margin-top: 50px;
    align-items: center;
    /* justify-content: center; */
}
.productInfo__container-product_section1 {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 30%;
}
.productInfo__container-product_section1-name {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.productInfo__container-product_section1-name > p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
    max-width: 180px;
    
}
.productInfo__container-product_section1 h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:rgba(105, 0, 25, 1);
    margin-bottom: 40px;
}
.productInfo__container-product_section1-color {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 40px;
}
.productInfo__container-product_section1-color > p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(121, 121, 121, 1);
}
.productInfo__container-color_circle {
    display: flex;
    gap: 18px;
    align-items: center;
}
.productInfo__container-color_circle span {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #000000;
}
.productInfo__container-product_size {
    display: flex;;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 40px;
}
.productInfo__container-product_size-button {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-between;
/* border: 2px solid red; */
}
.productInfo__container-product_size-button > button {
    width: 40px;
    height: 40px;
    margin-inline: auto;
    display: flex;
    /* padding-top: 6px; */
    /* padding-bottom: 6px; */
    justify-content: center;
    border-radius: 1px ;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 1);
}
.productInfo__container-product_size-button > p {
    width: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 40px;
    margin-inline: auto;
    text-align: center;
    border-top: 1px solid  rgba(0, 0, 0, 1);
    border-bottom: 1px solid  rgba(0, 0, 0, 1);
}
.productInfo__container-product_sizeDD {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(169, 169, 169, 1);
    width: 170px;
    border-radius: 8px;
    /* padding: 14px 10px; */
}
.productInfo__container-product_sizeDD button {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    height: 40px;
    align-items: center;
}
.productInfo__container-DD {
    /* margin-top: 10px; */
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    text-align: center;
    transition: 0.5s ease;
    /* gap: 4px; */
    width: 100%;
    border-radius:0 0 8px 8px;
    background: rgba(233, 233, 233, 1);
}
.productInfo__container-DD > p {
    padding-top: 2px;
    border-top: 1px solid black;
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.productInfo__container-DD > p:hover {
    opacity: 0.3;
    cursor: pointer;    
}
.none {
    display: none;
}
.productInfo__container-product_section1 > button {
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    font-family: Noto Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding: 8px 0;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.productInfo__container-product_section2 {
    display: flex;;
    width: 60%;
    max-width: 1000px;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}
.productInfo__container-product_section3 {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.productInfo__container-product_section3-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}
.productInfo__container-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid #000000;
}
.productInfo__container-detail_top {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    gap: 10px;
}
.productInfo__container-detail_top h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}
.content {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    padding: 20px;
    text-align: left;
    cursor: pointer;
    display: none;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(60, 60, 67, 0.85);
}
.content.show {
    display: flex;;
    transition: display 0.5s ease-in-out;
}
.productInfo__container-product_section3-img {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
}
.productInfo__container-interested {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 80px;
    gap: 30px;
}
.productInfo__container-interested_top {
    display: flex;
    width: 95%;
    gap: 3px;
    margin-inline: auto;
    align-items: center;
}
.productInfo__container-interested_top > h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(105, 0, 25, 1);
}
.productInfo__container-interested_top > span {
    height: 1px ;
    width: 70%;
    background-color: rgba(200, 200, 200, 1);
}
.productInfo__container-interested_bottom {
    display: flex;
    /* height: 530px; */
    overflow: hidden;
}
.productInfo__container-footer {
    width: 100%;
    padding-top: 80px;
    background-color: #ffffff;
}
@media screen and (max-width: 1100px) {
    .productInfo__container-product_section2 {
        display: flex;;
        width: 60%;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
    }
    .productInfo__container-product_details {
        display: flex;
        width: 95%;
        /* justify-content: space-between; */
        gap: 30px;
        margin-inline: auto;
        margin-top: 50px;
        align-items: center;
    }
}
@media screen and (max-width: 875px) {
    .productInfo__container-product_details {
        flex-wrap: wrap;
        display: flex;
        flex-direction: column-reverse;
    }
    .productInfo__container-product_section2 {
        display: flex;;
        width: 100%;
        flex-wrap: wrap;
        margin-top: 10px;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    .productInfo__container-product_section3 {
        width: 100%;
    }
    .productInfo__container-product_details {
        gap: 50px 20px;
    }
    .productInfo__container-product_section2 > img {
        width: 400px;
    }
    .productInfo__container-product_section1 {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        width: 100%;
    }
}
@media screen and (max-width: 768px) {
    .productInfo__container-product_section2 > img {
        width: 300px;
    }
    .productInfo__container-product_details {
        margin-top : 80px;
        justify-content: center;
    }
}