
@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.login__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 100px;
    /* align-items: center; */
    justify-content: center;
}
.login__container-navbar {
    /* display: flex; */
    width: 100%;
}
.login__container-body {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
margin-inline: auto;
    /* border: 2px solid red; */
}
.login__container-body_header {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.login__container-body_header > h1 {
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.login__container-body_header > p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.login__container-body_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    margin-top: 30px;
}
.login__container-body_form-email,
.login__container-body_form-password {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}
.login__container-body_form-email > p,
.login__container-body_form-password > p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(52, 64, 84, 1);
}
.login__container-body_form-email > input,
.login__container-body_form-password > input {
    border: 1px solid rgba(208, 213, 221, 1);
    padding: 10px 14px;
    border-radius: 8px;
}
.login__container-body_form-radio_section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.login__container-body_form-radio_btn {
    display: flex;
    gap: 5px;
    align-items: center;
}
.login__container-body_form-radio_btn > label {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(52, 64, 84, 1);
}
.login__container-body_form-radio_section > p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(105, 2, 22, 1);
}
.login__container-body_form-radio_section > p:hover {
    text-decoration: underline;
    cursor: pointer;
}
.login__container-body_form-button {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}
.login__container-body_form-button > button {
    display: flex;;
    width: 100%;
    border-radius: 8px;
    align-items: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 10px 0;

}
.sign1 {
    background-color: rgba(105, 2, 22, 1);
    color: rgba(255, 255, 255, 1);
}
.sign2 {
    background-color: transparent;
    color:rgba(52, 64, 84, 1);
    border: 1px solid rgba(208, 213, 221, 1);

}
.login__container-body_bottom {
    margin-top: 30px;
    margin-bottom: 80px;
    display: flex;;
    gap: 4px;
    align-items: center;
    color: rgba(71, 84, 103, 1);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.signup-link {
    color: rgba(105, 2, 22, 1);
}
@media screen and (max-width: 850px) {
    .login__container-body  {
        width: 60%;
    }
}
@media screen and (max-width: 550px) {
    .login__container-body  {
        width: 80%;
    }
}
@media screen and (max-width: 370px) {
    .login__container-body  {
        width: 80%;
    }
.login__container-body_header {
    gap: 8px
}
.login__container-body_header > h1 {
    font-size: 23px;
}
.login__container-body_header > p {
    font-size: 14px;
    line-height: 18px;
}
.login__container-body_form {
    gap: 16px;
}
.login__container-body_form-email,
.login__container-body_form-password {
    gap: 4px;
}
.login__container-body_form-email > p,
.login__container-body_form-password > p {
    font-size: 13px;
}
.login__container-body_form-email > input,
.login__container-body_form-password > input {
    padding: 8px 10px;
    border-radius: 6px;
}
.login__container-body_form-radio_btn > label {
    font-size: 10px;
    line-height: 16px;
}
.login__container-body_form-radio_section > p {
    font-size: 10px;
}
.login__container-body_form-button {
    gap: 12px;
}
.login__container-body_form-button > button {
    font-size: 12px;
    padding: 7px 0 ;
}
}