.product__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #E9E9E9;
    position: relative;
}
.product__container > button {
    position: absolute;
    top: 10px;
    left: 13px;
    background-color: #FFFFFF;
    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding: 2px 8px;
    cursor: pointer;
    border-radius: 2px;
}
.product__container > button:hover {
    scale: 1.1;
}

.product__container-image {
    display: flex;
    max-width: 400px;
    position: relative;
    align-items: center;
    justify-content: center;
    height: 350px;
  /* border: 2px solid red; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.default-img{
  position: absolute;
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 100%;
  /* height: 100px; */
  transition: opacity 0.5s;
  opacity: 1;
  justify-content: center;
  /* border: 2px solid red; */
  margin: 0 auto;
  padding: 20px;

}
.hovered-img {
   position: absolute;
   /* top: 0;
  left: 0; */
  top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  width: 100%;
  /* height: 100%; */
  transition: opacity 0.5s;
  opacity: 0;
  padding: 20px;
  justify-content: center;
  /* border: 2px solid red; */
 
}
.product__container-image:hover .default-img {
    opacity: 0;
}
.product__container-image:hover .hovered-img {
    opacity: 1;
}
.product__container span {
    width: 90%;
    display: flex;
    margin-inline: auto;
    background-color: #848484;
    height: 1px;
    /* border: 1px solid black; */

}
.product__container-details {
    display: flex;
    width: 90%;
    margin-inline: auto;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.product__container-details_name {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 10px;

}
.product__container-details_name > h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.product__container-details_name > small {
    font-family: 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #767676;

}
.product__container-details_image {
    display: flex;
    /* width: 38px;
    height: 38px; */
    padding: 9px;
    background-color: #FFFFFF;
    border-radius: 3px;
}
.product__container-details_image img {
    width: 18px;
    height: 18px;
}
.product__container-details_image img:hover {
    scale: 1.1;
}
@media screen and (max-width: 1300px) {
    .product__container {
        width: 350px;
    }
}
@media screen and (max-width: 1150px) {
    .product__container {
        width: 300px
    }
}
@media screen and (max-width: 990px) {
    .product__container {
        width: 250px
    }
}
@media screen and (max-width: 850px) {
    .product__container {
        width: 350px
    }
}
@media screen and (max-width: 320px) {
    .product__container {
        width: 280px;
    }
}