@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.navbar__container {
    display: flex;
    width: 95%;
    margin-inline: auto;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    /* background: black; */
}
.navbar__container-links {
    display: flex;
    /* gap: 45px; */
    width: 50%;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}
.navbar__container-links_left {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.navbar__container-links_left a {
    font-family:'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #690019;
    cursor: pointer;
}
.navbar__container-links_left a:hover {
    color:#FFE6E6;
    transition: 0.5s ease;
}
.navbar__container-button {
    display: flex;
    background: #690019;
    width: 15%;
    border: none;
    border-radius: 8px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

}
.navbar-btn {
    display: flex;
    margin-inline: auto;
    padding: 8px;
    align-items: center;
    gap: 7px;
    color: #FFFFFF;
}
.navbar__container-links2_left {
    display: flex;
    width: 500px;
    justify-content: space-between;
}
.navbar__container-links2 {
    display: flex;
    /* gap: 45px; */
    width: 50%;
    align-items: center;
    justify-content: space-between;
}
.navbar__container-links2_left a {
    font-family:'Noto Sans', sans-serif;
    font-size: 16px;
    width: 500px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    cursor: pointer;
}
.navbar__container-links2_left a:hover {
    color:#FFE6E6;
    transition: 0.5s ease;
}
.navbar__container-responsive {
    display: none;
}
@media screen and (max-width: 1440px) {
    .navbar__container-links_left,
    .navbar__container-links2_left {
        width: 450px;
    }
}
@media screen and (max-width: 1324px) {
    .navbar__container-links_left ,
    .navbar__container-links2_left {
        width: 400px;
    }    
}
@media screen and (max-width: 1024px) {
    .navbar__container-links_left ,
    .navbar__container-links2_left {
        width: 350px;
    }    
}
@media screen and (max-width: 950px) {
    .navbar__container-links_left,
    .navbar__container-links2_left {
        width: 300px;
    }    
    .navbar__container-button {
        width: 200px;
    }
    .navbar__container-links_left a, 
    .navbar__container-links2 a {
        font-size: 12px;
    }
}
@media screen and (max-width: 800px) {
    .navbar__container {
        display: none;
    }
    .navbar__container-responsive {
        display: flex;
        flex-direction: column;
        background: rgba(217, 217, 217, 1);
        position: fixed;
        width: 100vw;
        z-index: 99;
        /* background: transparent; */
    }
    .navbar__container-responsive_top {
        background-color: #C1C1BD;
        display: flex;
        align-items: center;
        width: 100vw;
        padding: 8px;
        align-items: center;
        justify-content: space-between;
        /* border-bottom: 1px solid black; */

    }
    .navbar__container-responsive_menu,
    .navbar__container-responsive_logo {
        width: 40px;
        height: 40px;
        display: flex;;
    }
    .navbar__container-responsive_search {
        display: flex;;
        align-items: center;
        gap: 20px;
        background-color: #690019;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
    }
    .navbar__container-responsive_links {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 15px;
        padding: 10px;
    }
    .navbar__container-responsive_links a {
        font-family:'Noto Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 21.6px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        cursor: pointer; 
    }
    .none {
        display: none;
    }
}
@media screen and (max-width: 350px) {
     .navbar__container-responsive {
        display: flex;
        flex-direction: column;
        position: fixed;
        max-width: 350px;
        width: 100%;
        /* z-index: 99; */
        background: rgba(217, 217, 217, 1);
    }
    .navbar__container {
        display: none;
    }
}